<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests" thread-count="5">

	<parameter name="perfecto.url" value="demo.perfectomobile.com" />
	<parameter name="perfecto.username" value="genesist@perfectomobile.com" />
	<!-- <parameter name="perfecto.password" value="" /> --> <!-- Pass it from VM arguments -->
	<parameter name="RunMode" value="Auto" /> <!-- Debug -->
	<parameter name="proxy.url" value="" />
	<parameter name="proxy.port" value="" />
	<parameter name="proxy.user" value="" />
	<parameter name="proxy.pass" value="" />
	<parameter name="perfecto.WIND_TUNNEL_PERSONA_CAPABILITY" value="false" />
	<parameter name="perfecto.retries" value="5" />
	<parameter name="perfecto.retryIntervalSec" value="1" />
	
	
	<test name="Android Verification" parallel="tests" thread-count="2">
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="[45].*" />
		<parameter name="manufacturer" value="Samsung" />
		<parameter name="model" value="Galaxy S." />
		<parameter name="deviceName" value="30E9D3E3" />
		<parameter name="perfectoDriver" value="Appium" />
		<parameter name="deviceType" value="Android" />
		<parameter name="package" value="com.delta.mobile.android" />
		<parameter name="perfect.app" value="Fly Delta" />
		<classes>
			<class name="tests.Verify_Login" />
		</classes>
	</test>
	
	<test name="IOS Verification" parallel="tests" thread-count="2">
		<parameter name="platformName" value="iOS" />
		<parameter name="platformVersion" value="[45].*" />
		<parameter name="manufacturer" value="Apple" />
		<parameter name="model" value="iPhone-6" />
		<parameter name="deviceName" value="41EEF156EA10EDAB41632651F7AD2A4C4CB502ED" />
		<parameter name="perfectoDriver" value="Appium" />
		<parameter name="deviceType" value="iOS" />
		<parameter name="package" value="com.delta.iphone.ver1" />
		<parameter name="perfect.app" value="Fly Delta" />
		<classes>
			<class name="tests.Verify_Login" />
		</classes>		
	</test>
	
</suite> 
